body {
    background-color: green;
}


.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.flex-row {
    display: flex;

}

.button {
    width: 100%;
    margin-left: 40px;
    padding: 20px;
    border-radius: 10%;
    
}

.card {
    width: 10%;
}
.button1 {
    width: 10%;
    padding: 20px;
    border-radius: 10%;
}

#message {
    font-size: 1rem;
    font-weight: bolder;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}


